
html body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.timeline-title {
    text-align: center;
    padding: 40px 20px;
    font-size: 36px;
    color: #cc8a39;
    border-bottom: 2px solid #f3f0ee;
    margin-bottom: 20px;
    font-weight: bold;
}

.timeline {
    position: relative;
    max-width:  1200px;
    margin: 40px auto;
    padding: 0 40px;
}

.contenedor {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 60%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s forwards;
}

.contenedor.left {
    left: 0;
}

.contenedor.right {
    left: 45%;
}

.contenedor::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #b67423;
    border: 4px solid #f3f0ee;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.contenedor.left::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: #1a1a1a;
    position: relative;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}

.contenedor:hover .content {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contenedor:hover .content img {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.text {
    flex-grow: 1;
}

.text h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #e48749;
    font-weight: bold;
}

p {
    margin: 5px 0;
  text-align: justify;
}

@media screen and (max-width: 600px) {
    .contenedor {
        width: 100%;
        padding-left: 70px;
        transform: translateY(50px);
        animation: fadeInUpMobile 0.5s forwards;
    }

    .contenedor.right {
        left: 0%;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .content img {
        margin: 0 0 20px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpMobile {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.svg-logo {
	width: 50px;
	height: 50px;
}

.navbar-glassmorphism {
	background: rgba(255, 255, 255); /* Fondo blanco semitransparente */
	backdrop-filter: blur(10px); /* Efecto de desenfoque */
	-webkit-backdrop-filter: blur(10px); /* Efecto de desenfoque para navegadores webkit */
	border: 1px solid rgba(255, 255, 255, 0.3); /* Borde claro */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
	padding: 1rem;
}

.navbar-glassmorphism .navbar-nav .nav-link {
	color: black; /* Color del texto */
	transition: color 0.3s ease-in-out;
}

.navbar-glassmorphism .navbar-nav .nav-link:hover {
	color: #1e3a8a; /* Color del texto al pasar el ratón */
}

.navbar-glassmorphism .form-control {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.3);
	color: white;
}

.navbar-glassmorphism .btn-outline-success {
	color: white;
	border-color: white;
}

.navbar-glassmorphism .btn-outline-success:hover {
	color: #ddd;
	border-color: #ddd;
}

.estrella {
	position: absolute;
	background-color: white;
	border-radius: 50%;
	border-style: solid;
	border-color: white transparent transparent transparent;
	border-width: 0.1em 0.1em 0 0;
	z-index: -1;
	width: 1px; /* Ajusta el tamaño de las estrellas si es necesario */
	height: 1px; /* Ajusta el tamaño de las estrellas si es necesario */
	animation: orbitar 50s linear infinite; /* Animación infinita */
}

/* Animación para mover las estrellas en un patrón circular */
@keyframes orbitar {
	0% {
			transform: rotate(0deg) translateX(20vw) rotate(0deg);
	}
	100% {
			transform: rotate(360deg) translateX(20vw) rotate(-360deg);
	}
}
